name: Update Extention Store
on:
  push:
    paths:
      - "extensions.json"
    branches:
      - main
  workflow_dispatch:

jobs:
  regenerate:
    name: Update Extension Store
    runs-on: ubuntu-latest
    outputs:
      issue: ${{ context.issue.number }}
      output2: ${{ steps.step2.outputs.test }}
    steps:
      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - uses: actions/checkout@v3
      - name: Install Packages
        run: yarn --cwd ./scripts install --frozen-lockfile
      - name: Run Cloudflare Deployment
        run: yarn --cwd ./scripts run deploy
        env:
          CF_API_TOKEN: ${{ secrets.CLOUDFLARE_PAGES_TOKEN }}
          CF_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          CF_WEBHOOK: ${{ secrets.EXTENSION_STORE_DEPLOY_WEBHOOK }}
  notify:
    name: Trigger Discord Webhook
    runs-on: ubuntu-latest
    needs: regenerate
    steps:
      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - uses: actions/checkout@v3
      - name: Install Packages
        run: yarn --cwd ./scripts install --frozen-lockfile
      - name: Notify Discord Extensions Announcements Channel
        run: yarn --cwd ./scripts run trigger
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
